.idea
venv
local_files
CMakeLists.txt.user

# Autosave files
*autosave*
*.cpp.*
*.h.*

*.old

build_artifacts
.peru
externals
build

misc/python_ble_client/Program_output
misc/python_ble_client/private
misc/python_ble_client/csr
misc/python_ble_client/certs
