[submodule "app/externals/esp-idf"]
	path = app/externals/esp-idf
	url = https://github.com/espressif/esp-idf
[submodule "app/externals/googletest"]
	path = app/externals/googletest
	url = https://github.com/google/googletest.git
[submodule "app/externals/CMock"]
	path = app/externals/CMock
	url = https://github.com/ThrowTheSwitch/CMock.git
[submodule "app/externals/Unity"]
	path = app/externals/Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
